<div class="main-header">
  <div class="left-header">
    <div class="header-title">
      hogefuga
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>

<div class="messages">
  <div class="chat-boxs">
    <div class="username-date">
      <div class="chat-username">Test</div>
      <div class="chat-date">2020/3/3</div>
    </div>
    <div class="contents">おはよう</div>
  </div>
  <div class="chat-boxs">
    <div class="username-date">
      <div class="chat-username">Test1</div>
      <div class="chat-date">2020/3/5</div>
    </div>
    <div class="contents">こんばんは</div>
  </div>
</div>

<div class="form">
  <div class="form-input">
    <input class="form-message" placeholder= "type a message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="form-submit" type="submit" value="送信">
</div>