  <div class="chat-boxs">
    <div class="username-date">
      <div class="chat-username">
        <%= message.user.name %>
      </div>
      <div class="chat-date">
        <%= l message.created_at %>
      </div>
    </div>
    <div class="content">
      <%= message.content %>
    </div>
  </div>